RewriteEngine On
#
# RewriteBase indispensable sur webetu :
RewriteBase /www/cappelli6u/mywishlist


#
# Pour interdire l'accès aux répertoires contenant du code


#
# réécriture pour slim

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
